[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "holdem"]
	path = holdem
	url = https://github.com/cran/holdem
	shallow = true
	registered = true
